#ignored directories
/test/
/database/
/anime_env/
/__pycache__/
/AnimeWebsiteProject/__pycache__/
/.vscode/

#ignored files
settingslocal.py
anime_mock.db-journal
anime_mock - Copy.db-journal

#ignored formats
*.db
*.sln
*.pyproj