<html>
    <body>
        <table style="background-color: grey;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;"
        border=1>

            <thead>
                <tr>
                    <td>Name</td>
                    <td>Number of Episodes</td>
                    <td>Rating</td>
                    <td>Genres</td>
                </tr>
            </thead>
    
            <tr>
    
            <!--declaring namespace-->
            {% set ns = namespace(genre_str = "") %}
    
            <!--BEGGINING OF FOR LOOP-->
            {% for row in rows %}
    
                <!--index-->
                {% set index = loop.index0 %}
            
                <!--genre string where the genres get added in a string -->
                {% set ns.genre_str = ns.genre_str ~ row["anime_genre"] ~ " " %}

                    <!--last loop where results are printed-->
                    {% if loop.last %}
                        <td>{{row.anime_name}}</td>
                        <td>{{row.numepisodes}}</td>
                        <td>{{row.rating}}</td>
                        <td>{{ns.genre_str}}</td>
                    {%endif%}
    
            </tr>
    
            {% endfor %}
            <!--END OF FOR LOOP-->
    
        </table>
        <!--END OF THE TABLE-->

        <h1>Are you sure you want to delete this entry?</h1>
        <form action="/admin/delete?id={{rows.0.id}}" method="POST">
            <button type="submit">Yes</button>
        </form>
        <button type="button" onclick="location.href='/admin'">No</button>
    </body>
</html>