body{
    background-color: lightblue;
}

/* Font and colors of the table */

table {
    background-color: grey;
    font-family: 'Times New Roman';
    margin-left: auto;
    margin-right: auto;
}

/* Font and text placement in a single cell */

td {
    text-align: center;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

/* Attributes of the menu on the top of every page */

/* colors and padding */

#menu ul {
	float: center;
	background-color:white;
	border: 2px solid black;
	list-style-type: none;
	margin: 10px;
	padding: 10px;
}

/* font and margin of every button */

#menu ul li {
	display: inline;
	font-size: 24px; 
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 0px;
}
