<html>
    <head>
        <title>Add a new anime to the database</title>
    </head>
    <body>
        <form action="/create" method="POST">

        <label>Title</label><br>
        <input type="text" id="title" name="title" placeholder="Title" required="required"><br>

        <label>Number of Episodes</label><br>
        <input type="number" id="numepisodes" name="numepisodes" placeholder="Number of Episodes"><br>

        <label>Rating</label><br>
        <input type="text" id="rating" name="rating" placeholder="Rating"><br>
        <label>Genres</label><br>

        <select name="genres" multiple>
            {% for genre in genres %}
                <option value="{{genre.id}}">{{genre.genre}}</option>
            {% endfor %}
            <p>Hold CTRL+Left Click to select multiple elements</p>
        </select> <br>

        <button type="submit">Submit changes</button>

        </form>
    </body>
</html>